.packageContainer {
    width: 70%;
    background: #ddd;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metricScore {
    margin-right: 1vw;
    margin-top: .5vw;
    font-size: 1.2em;
}

.packageTitle {
    font-size: 2em;
    margin-left: 20px;
    margin-top: 10px;
}