#searchBtn {
    font-size: 1.75em;
    display: flex;
}

#searchBar {
    width:44%;
    font-size: 1.75em;
    display: flex;
}

#topNav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#packages {
    display: flex;
    justify-content: center;
}

.goToBtn {
    position: relative;
    background: #ddd;
    display: block;
    width: 120px;
    padding: 10px;
    text-align:center;
    color: black;
    font-family: Arial;
    font-size: 1.4em;
}

.title {
    text-align:center;
    font-size: 2.5em;
    font-family: Arial;
    width: 50vw;
    margin:auto;
    position: relative;
    top: -7vw;
}