.searchBtn {
    position: relative;
    font-size: 1.75em;
    display: flex;
    border-width: 3px;
    border-color: black;
    border: solid;
    word-spacing: 0.28em; /* .16 times size */
    line-height: 2.625em; /* 1.5 times size */
    letter-spacing: .21em;/* .12 times size */
}

.searchBtn:focus {
    color: red;
    border-color: red;
    border: solid;
    border-width: 6px;
}

#searchBar {
    position: relative;
    width:50%;
    font-size: 1.75em;
    display: flex;
    border-width: 3px;
    border-color: black;
    border: solid;
    margin-right: 4px;
    word-spacing: .28em; /* .16 times size */
    line-height: 2.625em; /* 1.5 times size */
    letter-spacing: .21em;/* .12 times size */
}

#searchBar:focus {
    color: red;
    border-color: red;
    border: solid;
    border-width: 6px;
}

.topNav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 1.4em;
    word-spacing: 0.224em; /* .16 times size */
    line-height: 2.1em; /* 1.5 times size */
    letter-spacing: .168em;/* .12 times size */
}

main {
    position: relative;
    top: -4vw;
}

.packages {
    display: flex;
    justify-content: center;
}

.packages:focus {
    color: red;
    border-color: red;
    border: solid;
    border-width: 6px;
}

@media (max-width: 800px) {
    .title {
        text-align:center;
        font-size: 1.4em;
        font-family: Arial;
        width: 70vw;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        top: -4vw;
        word-spacing: 0.224em; /* .16 times size */
        line-height: 2.1em; /* 1.5 times size */
        letter-spacing: .168em;/* .12 times size */
    }

    .goToBtn {
        position: relative;
        background: #ddd;
        display: block;
        width: 120px;
        padding: 10px;
        text-align:center;
        color: black;
        font-family: Arial;
        font-size: 1.1em;
        margin-bottom: 1em;
        cursor: pointer;
        border-width: 3px;
        border-color: black;
        border: solid;
        word-spacing: 0.176em; /* .16 times size */
        line-height: 1.65em; /* 1.5 times size */
        letter-spacing: .132em;/* .12 times size */
    }
}

@media (min-width: 800px) {
    .title {
        text-align:center;
        font-size: 2em;
        font-family: Arial;
        width: 50vw;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        top: -12vw;
        word-spacing: 0.32em; /* .16 times size */
        line-height: 3em; /* 1.5 times size */
        letter-spacing: .24em;/* .12 times size */
    }

    .goToBtn {
        position: relative;
        background: #ddd;
        display: block;
        width: 120px;
        padding: 10px;
        text-align:center;
        color: black;
        font-family: Arial;
        font-size: 1.4em;
        margin-bottom: 1em;
        cursor: pointer;
        border-width: 3px;
        border-color: black;
        border: solid;
        word-spacing: 0.224em; /* .16 times size */
        line-height: 2.1em; /* 1.5 times size */
        letter-spacing: .168em;/* .12 times size */
    }
}

.goToBtn:focus {
    color: red;
    border-color: red;
    border: solid;
    border-width: 6px;
}