#searchBtn {
    position: relative;
    font-size: 1.75em;
    display: flex;
    top: -5vw;
}

#searchBar {
    position: relative;
    width:44%;
    font-size: 1.75em;
    display: flex;
    top: -5vw;
}

#topNav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#packages {
    display: flex;
    justify-content: center;
}

.goToBtn {
    position: relative;
    background: #ddd;
    display: block;
    width: 120px;
    padding: 10px;
    text-align:center;
    color: black;
    font-family: Arial;
    font-size: 1.4em;
    margin-bottom: 1em;
    cursor: pointer;
}

.title {
    text-align:center;
    font-size: 2.5em;
    font-family: Arial;
    width: 50vw;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    top: -8vw;
}